@keyframes vem {
    100% {
        transform: translateX(0);

    }
}


@keyframes voltaMenu {

    0% {
        transform: translateX(0);

    }

    100% {
        transform: translateX(-100%);
    }

}


@keyframes dash {
    from {
        stroke-dashoffset: 277;
    }

    to {
        stroke-dashoffset: 0;
    }
}