@keyframes vem {
    100% {
        transform: translateX(0);

    }
}


@keyframes voltaMenu {

    0% {
        transform: translateX(0);

    }

    100% {
        transform: translateX(-100%);
    }

}


@keyframes dash {
    from {
        stroke-dashoffset: 277;
    }

    to {
        stroke-dashoffset: 0;
    }
}


@keyframes Sool {
    0% {
        transform: translate(0);

    }

    100% {
        transform: translate(200px, 200px);

    }
}

@keyframes SoolStart {
    100% {
        transform: translate(100px 100px);

    }


}

@keyframes slideUp {
    to {
        transform: initial;
        opacity: initial;
    }
}