@font-face {
    font-family: 'Segoe UI Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Segoe UI Regular'), url('../css/font/Segoe-UI.woff') format('woff');
}

@font-face {
    font-family: 'Segoe UI Bold';
    font-style: normal;
    font-weight: 700;
    src: local('Segoe UI Regular'), url('../css/font/Segoe-UI-Bold.woff') format('woff');
}


@font-face {
    font-family: 'Segoe UI Semibold';
    font-style: normal;
    font-weight: 500;
    src: local('Segoe UI Regular'), url('../css/font/segoe-ui-semibold-2.ttf') format('ttf');
}


