//menu =====================

.menu {
  position: fixed;
  top: 0;
  padding-top: 20px;
  align-items: center;
  width: 100%;
  z-index: 99;
  height: 80px;

  @include d(m) {
    display: none;
  }


  .menu__wrapper {
    display: flex;

    ul {
      display: flex;
      align-items: center;
      margin: 0 auto;

      li a {
        color: $azul-escuro;
        font-weight: 600;
        transition: 0.4s;

        &:hover {
          color:$amarelo;
        }
      }

      li+li {
        margin-left: 30px;
      }
    }
  }

  .menu__call {
    a {
      display: inline-block;
      border-radius: 27px;
      padding: 10px 30px;
      max-width: 300px;
      text-align: center;
      color: white;
      background: $amarelo;
      transition: 0.3s ease;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  .menu__links {
    margin-left: auto;
  }

  .menu__sociais {
    margin-left: 15px;
    margin-top: 5px;

    li+li {
      margin-left: 15px !important;
    }

    svg {
      width: 30px;
      height: 30px;
      transition: 0.4s ease;

      &:hover {
        path {
          //fill: $roxo !important;
        }
      }


    }
  }

  .logo__2 {
    width: 100px;
    margin: 0 20px;
    margin-top: 5px;
  }
}

.fixed-top{
  transition: box-shadow 0.5s ease-in-out;

} 
.ativo__scrool .fixed-top {
  box-shadow: 0px 3px 10px #ffb7005b;

  background: white;
}

.menu__mobile {
  display: none;

  @include d(m) {
    display: block;
    padding: 20px 0;
    height: 80px;
   
    background: white;

    /* .bg__blur {
            width: 100%;
            height: 100%;
            position: absolute;
            top:0;
            z-index: -1;
            
        } */

    .wrapper__menu {
      display: flex;
      align-items: center;

      .logo {
        display: flex;
        align-items: center;
        z-index: 100;

        .logo__2 {
          width: 80px;
          margin-left: 20px;
        }
      }
    }

    .menu__icon-click {
      color: white;
      cursor: pointer;
    }
  }
}



//icon mobile
.menu__icon button {
  display: block;
  background: transparent;
  border: none;
  cursor: pointer;
}

.menu__icon {
  z-index: 99;
}

.menu__icon .hamburguer {
  margin-left: 5px;
}

.menu__icon .menu__icon-click {
  display: flex;
  margin-left: auto;
  padding: 13px 8px 13px 8px;
  z-index: 20;
  position: relative;
  cursor: pointer;
  text-transform: uppercase;
  color: currentColor;
  font-size: 16px;
  font-weight: 500;
  align-items: center;
  z-index: 1000;
}

.menu__icon i {
  display: block;
  background: $azul-escuro;
  width: 28px;
  height: 2px;
  transition: 0.3s ease-in-out;
  position: relative;
  z-index: 1000;

}

.menu__icon i:after,
.menu__icon i:before {
  z-index: 1000;

  content: "";
  display: block;
  background: $azul-escuro;
  width: 100%;
  height: 100%;
  position: relative;
  transition: 0.3s ease-in-out;
}

.menu__icon i:before {
  top: -9px;
  width: 100%;
}

.menu__icon i:after {
  bottom: -8px;
  width: 100%;
}

.menu__open i {
  transform: rotate(45deg);
  //background: $roxo;
}

.menu__open i:before {
  transform: rotate(90deg);
  top: -1px;
  width: 100%;
  //  background: $roxo;

}

.menu__open i:after {
  transform: rotate(90deg);
  bottom: 1px;
  width: 100%;
  opacity: 0;
  // background: $roxo;

}

.menu__atalhos {
  display: none;
}

.menu__open .menu__atalhos {
  display: block !important;
}

/* .menu__open .menu__atalhos ul {
  height: 100vh;
  width: 50%;
  position: absolute;
  right: 0;
  background: #53e622;
  display: block;
  z-index: 90;
  animation: vemMenu 0.3s ease both;
} */

.atalhos {
  display: none;
  transform: translateX(-100%);
}



.menu__open .atalhos {
  display: block;
  background: white;
  color: white;
  height: 100%;
  width: 60vw;
  position: fixed;
  left: 0;
  animation: vem .3s ease-in both;
  padding-top: 80px;
  padding: 30px;
  padding-top: 80px;
  font-size: 22px;
  z-index: 98;
  top: 0;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);


  li {
    margin-bottom: 25px;

    a {
      text-transform: uppercase;
      color: white;
    }
  }
}
