body#page__perfil{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
}

.container {
    max-width: 1000px;

    @include d(ll) {
        max-width: 1280px;
    }
}

.menu__search {
    background: white;
}

#page__perfil {
   @import "perfil__stilos";
}

//tag final ==================