body#page__sobre {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}



.container {
    max-width: 1000px;

    @include d(ll) {
        max-width: 1280px;
    }
}

.menu__search {
    background: white;
}

#page__sobre {


    #intro {
        margin-top: 80px;
        @include bg-props-cover;
        background-image: url(../img/page-sobre/bg.jpg);
        height: 350px;
        width: 100%;
        background-blend-mode: color;
        background-color: #00000061;

        h1 {
            color: $amarelo;
            font-weight: 500;
            font-size: 24px;
            line-height: 32px;
            @include d(s){
            font-size: 26px;
            

            }
        }

        h2 {
            font-size: 36px;
            line-height: 46px;
            font-weight: 500;
            max-width: 900px;
            @include d(s){
            font-size: 22px;
            line-height: 32px;
            }

        }

        .intro__wrapper {
            display: flex;
            flex-direction: column;
            align-content: center;
            height: 350px;
            justify-content: center;
        }
    }



    .text__sobre {
        color: $preto;
        margin-top: 40px;
        //max-width:60%;

        p {
            font-size: 20px;
            line-height: 140%;
            margin-top: 10px;

            span {
                font-weight: 500;
            }
        }
    }

    .text__wrapper {
        display: flex;
        justify-content: space-around;
    }

    .sociais {
        color: $preto;
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        h2 {
            color: $azul-escuro;
            font-weight: 700;
            font-size: 24px;
            line-height: 32px;
            text-align: center;
            padding-bottom: 20px;
        }

        a {
            transition: 0.4s ease;
            margin-top:5px;


            &:hover {
                transform: scale(1.05);
            }
        }

        a+a {
            margin-left: 10px;
        }

        .d__flex {
            display: flex;
            flex-flow: wrap;
            justify-content: center;
            margin-top: 20px;


        }
    }

    .instalador {
        max-width: 250px;
        display: inline-block;
        margin: 0 auto;
        background: $amarelo;
        color: white;
        padding: 10px;
        border-radius: 20px;
        text-align: center;
        width: 100%;
        margin-bottom: 20px;
        font-weight: 500;
        @include d(m){
            margin-top: 30px !important;
        }
    }
    #sobre{
        position:relative;
    }
    #orna__sobre{
        right:0;
        position:absolute;
        width:180px;

        g{
            width:220px;
        }
    }

}