body#page__blog {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    background-color: white;

}



.container {
    max-width: 1000px;

    @include d(ll) {
        max-width: 1280px;
    }
}


#page__blog {
    margin-top: 100px;
    @import "blog__stilos";
}