$azul-escuro:#164464;
$azul-claro:#3473eb;
$amarelo:#ffb600;
$cinza-claro:#707070;
$cinza-bordas:#E0E0E0;
$cinza-font:#757575;
$preto:#424242;

@mixin tituloAzul {
    margin-bottom: 60px;

    text-align: center;
    font-size: 35px;
    font-weight: bold;
    color: $azul-escuro;

    @include d(m) {
        max-width: 220px;
        margin: 0 auto;
        margin-bottom: 60px;
    }
}



@import "bootstrap__imports";
@import "reset";
@import "responsivo";
@import "menu";
@import "animation";
@import "fonts";
@import "footer";
@import "cookies";

body#page__home {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    overflow-x: none;
}

::selection {
    background: $amarelo;
}

.d__flex {
    display: flex;
    flex-flow: wrap;
}

.menu {
    background: white;
}

//page HOME ==============================================
#page__home {

    .container {
        @include d(ll) {
            max-width: 1366px;
        }
    }

    #intro {
        padding-top: 140px;
        width: 100%;

        h1 {
            max-width: 500px;
            font-size: 40px;
            font-weight: bold;
            color: $azul-escuro;
            text-align: center;
            margin: 0 auto;
            margin-bottom: 30px;

            @include d(s) {
                font-size: 32px;
            }
        }

        p {
            font-size: 22px;
            max-width: 310px;
            color: $azul-escuro;
            text-align: center;
            margin: 0 auto;

            @include d(s) {
                font-size: 18px;
            }

            @include d(ss) {
                margin-top: 20px;
            }

        }

        .intro__busca {
            border: 1px solid #3474eb4d;
            border-radius: 30px;
            padding: 30px 10px;
            padding-bottom: 20px;
            max-width: 550px;
            margin: 0 auto;
            margin-top: 50px;

            @include d(s) {
                padding: 30px 5px;
                padding-bottom: 10px;
            }
        }
    }

    .busca {
        .form__busca {
            position: relative;

            input:focus {



                border: 1px solid #ffb7008c;

            }

        }

        input {
            padding: 20px 30px;
            padding-top: 50px;
            border-radius: 6px;
            border: 1px solid #70707038;
            width: 100%;
            color: $azul-escuro;
            font-size: 18px;
            transition: 0.3s ease;

            &::placeholder {
                color: #70707075;
            }

            @include d(s) {
                font-size: 18px;

            }


        }

        label {
            position: absolute;
            left: 30px;
            top: 15px;
            color: $azul-escuro;
            transition: 0.3s ease;

            &:before {
                content: "";
                width: 15px;
                height: 15px;
                display: inline-block;
                background-image: url(../img/local.svg);
                background-repeat: no-repeat;
                background-size: contain;
                opacity: .7;
            }

        }

        .form__enviar {
            background: $amarelo;
            width: 100%;
            padding: 18px 0;
            border-radius: 27px;
            text-transform: uppercase;
            color: white;
            margin-top: 20px;
            transition: 0.7s ease;
            cursor: pointer;

            &:hover {
                background: $azul-escuro;
                // color: $azul-escuro;
                box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);

            }
        }
    }

    #intro {
        position: relative;
        overflow: hidden;
        padding-bottom: 60px;

        .intro__orna-1 {
            position: absolute;
            top: 250px;
            left: -100px;
            width: 28vw;


            @include d(m) {
                top: 240px;
                left: 0;
                right: 0;
                margin: 0 auto;
                width: 90px;

            }

            @include d(s) {
                top: 225px;
                left: 0;
                right: 0;
                margin: 0 auto;
                width: 80px;

            }

            @include d(ss) {
                top: 255px;
                left: 0;
                right: 0;
                margin: 0 auto;
                width: 80px;

            }

            svg {
                width: 100%;

            }
        }

        #raio {
            clip-path: inset(0 0 0 0);

        }

        &.orna__1 #raio {
            clip-path: inset(0 100% 0 0);
        }

        .intro__orna-2 {
            position: absolute;
            top: 380px;
            width: 15vw;
            right: 0;
            height: 350px;

            @include d (m) {
                display: none;

            }
        }

    }

    #linha__azul {
        animation: dash 2.5s ease-in-out both
            /* , dash 45s ease-in-out infinite alternate-reverse 5s */
        ;

    }

    #linha__amarela {
        animation: dash 1.5s ease-in-out both;

    }



    //quer ser section =====================================
    #querser {
        padding-top: 5px;
        background-color: $azul-claro;
        padding-bottom: -20px;

        @include d(m) {
            padding-top: 30px;

        }

        .d__flex {
            align-items: center;
        }

        .querser__img {

            svg {
                margin-bottom: -20px;

                @include d(m) {
                    margin-bottom: -13px;

                }
            }

            @include d(m) {
                order: 2;
            }

        }

        .querser__text {
            color: white;

            h2 {
                font-size: 36px;
                font-weight: bold;
                margin-bottom: 30px;
            }

            p {
                margin-bottom: 30px;
            }

            a {
                display: block;
                background: $amarelo;
                width: 160px;
                padding: 12px 0;
                border-radius: 27px;
                // text-transform: uppercase;
                color: white;
                margin-top: 15px;
                transition: 0.5s ease;
                cursor: pointer;
                text-align: center;
                margin-bottom: 20px;

                @include d(m) {
                    margin: 0 auto;
                    margin-bottom: 20px
                }

                &:hover {
                    transform: scale(1.06);
                }
            }
        }
    }

    #raio path {
        opacity: 0;
        clip-path: inset(-10% -10% -10% -10%);
        transition: clip-path .7s ease-in-out;

    }

    &.carregou #raio path {
        opacity: 1;
        stroke-dasharray: 277;
        stroke-dashoffset: 277;
    }


    .intro__orna-3 {
        clip-path: inset(0 100% 0 0);
        transition: 1s ease;
    }

    &.orna__3 .intro__orna-3 {
        clip-path: inset(0 0 0 0);

    }



    &.orna__3 #raio path {
        clip-path: inset(0 100% 0 0);

    }



    #nuvem__2 {
        position: absolute;
        right: 0;
    }

    #blog {
        margin-top: 60px;

        h1 {
            @include tituloAzul;
            margin-top: 80px;
        }

        .blog__text-p {
            text-align: center;
            font-size: 18px;
            color: $azul-escuro;
            margin-bottom: 40px;
        }

        .card__blog {
            max-width: 260px;

            @include d(s) {
                max-width: initial;

            }

            &:hover {
                .ver__mais:after {
                    transform: translateX(7px);
                }
            }
        }

        .blog__text-wrapper {
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: space-between;

            h3 {
                font-size: 16px;
                margin: 20px 0;
                padding: 0;
                color: $azul-escuro;
                font-weight: bold;
            }

            .ver__mais {
                //transition:0.3s;
                display: inline-block;
                cursor: pointer;
                color: $amarelo !important;
                vertical-align: middle;
                margin-right: 10px;
                font-size: 14px;
                padding: 10px 0;
                margin-bottom: 1px;

                &:after {
                    content: "";
                    width: 20px;
                    height: 14px;
                    display: inline-block;
                    background-image: url(../img/arrow-y.svg);
                    background-repeat: no-repeat;
                    background-size: contain;
                    margin-left: 5px;
                    // transform: rotateZ(-90deg);
                    transition: 0.4s ease;
                    vertical-align: middle;
                    margin-bottom: 3px;


                }

            }
        }


    }

    .seta {
        width: 100%;
        display: block;
        padding: 0 5px;
        padding-top: 30px;
        padding-bottom: 10px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border: 0.30000001192092896px solid #3473EB;
        border-radius: 24px;
        width: 40px;
        margin: 0 auto;
        margin-top: 60px;
        cursor: pointer;

        &:hover {
            img {
                transform: translateY(5px)
            }
        }


        img {
            margin: 0 auto;
            transition: 0.4s ease-in-out;
        }
    }

    #bolinhas__intro {
       transition:1s ease-in-out;
        animation: 4s SoolStart ease-in-out both;

    }

    &.orna__1 #bolinhas__intro {
        animation: 4s Sool ease-in-out both;
    }



}

@import "credenciados";
@import "page__busca";
@import "page__perfil";
@import "page__loguin";
@import "page__logado";